@use '../core';
// ELEVATION
// ---------
//https://material.io/design/environment/light-shadows.html#shadows

@mixin elevation($i,$color:core.get("default","otherColor","shadow")){
    @if $i == 0{
        @include elevation-0;
    }@else if $i == 1{
        @include elevation-1($color);
    }@else if $i == 2{
        @include elevation-2($color);
    }@else if $i == 3{
        @include elevation-3($color);
    }@else if $i == 4{
        @include elevation-4($color);
    }
}

@mixin elevation-0{
    box-shadow: unset;
}
@mixin elevation-1($color:core.get("default","otherColor","shadow")){
    box-shadow: rgba( $color, 0.8)  0px 2px 4px 0px,rgba( $color, 1)   0px 4px 1px -3px;
}
@mixin elevation-2($color:core.get("default","otherColor","shadow")){
    box-shadow: rgba( $color, 0.9) 0px 6px 6px -3px, rgba( $color, 0.3) 0px 1px 6px 1px;
}
@mixin elevation-3($color:core.get("default","otherColor","shadow")){
    box-shadow: rgba( $color, 1)  1px 10px 10px -3px,rgba( $color, 0.1)  0px -6px 10px 5px
}
@mixin elevation-4($color:core.get("default","otherColor","shadow")){
    box-shadow: rgba( $color, 1)  1px 16px 16px -3px,rgba( $color, 0.1)  0px -6px 20px 10px;
}
