@use '../core';
// ELEVATION
// ---------


@mixin elevation($i,$color:core.get("default","otherColor","shadow")){
    @if $i == 0{
        @include elevation-0;
    }@else if $i == 1{
        @include elevation-1($color);
    }@else if $i == 2{
        @include elevation-2($color);
    }@else if $i == 3{
        @include elevation-3($color);
    }@else if $i == 4{
        @include elevation-4($color);
    }
}

@mixin elevation-0{
    box-shadow: unset;
}
@mixin elevation-1($color:core.get("default","otherColor","shadow")){
    box-shadow: transparentize( $color, 0.2) 0px 1px 2px 0px;
}
@mixin elevation-2($color:core.get("default","otherColor","shadow")){
    box-shadow: transparentize( $color, 0.2) 0px 2px 4px -1px;
}
@mixin elevation-3($color:core.get("default","otherColor","shadow")){
    box-shadow: transparentize( $color, 0.4) 0px 4px 6px -2px;
}
@mixin elevation-4($color:core.get("default","otherColor","shadow")){
    box-shadow: transparentize( $color, 0.6)  2px 5px 17px -3px;
}
