

@mixin triagle($color,$direction){
    background-color: transparent;
    border-style: solid;
    border-color: transparent ;
    border-top-width: 2em;
    border-right-width: 1em;
    border-left-width: 1em;
    border-bottom-width:1em;
    border-top-color: $default-color;
    @if $direction == "up"{
        border-bottom-color: $color ;
    }@else if $direction == "down"{
        border-top-color: $color ;
    }@else if $direction == "right"{
        border-left-color: $color ;
    }@else if $direction == "left"{
        border-right-color: $color ;
    }
}