@use "../core";
@use "../mixin";


//elevation
@for $i from 0 through 5{
    .elevation-#{$i}{
        @include mixin.elevation($i);
    }
}

// colors types
$colorGroup:"themeColor" "stateColor";
@each $section in $colorGroup {
    @include mixin.forAllThemeTypes($section) using ($theme,$type){
        [colorMode="text"][color=#{$type}],[color=#{$type}]{
            @include mixin.text($type,$section,$theme);        
        }

        [colorMode="filled"][color=#{$type}]{
            @include mixin.fill($type,$section,$theme);        
        }
    
        [colorMode="filled-soft"][color=#{$type}]{
            @include mixin.fill-soft($type,$section,$theme);        
        }
        
        [colorMode="outline"][color=#{$type}]{
            @include mixin.outline($type,$section,$theme);        
        }
    }
};


$verticalPos:("top", "botton","center");
$horizontalPos:("right", "left","center");
@each $pos in $verticalPos {
    .position-left-#{$pos}{
        position: absolute;
        @include mixin.position-left($pos)
    }
    .position-right-#{$pos}{
        position: absolute;
        @include mixin.position-left($pos)
    }
}
@each $pos in $horizontalPos {
    .position-top-#{$pos}{
        position: absolute;
        @include mixin.position-top($pos)
    }
    .position-right-#{$pos}{
        position: absolute;
        @include mixin.position-bottom($pos)
    }
}

