@use "../core";
@use "../mixin";


//elevation
@for $i from 0 through 5{
    .elevation-#{$i}{
        @include mixin.elevation($i);
    }
}

// colors types
$colorGroup:"themeColor" "stateColor";
@each $section in $colorGroup {
    @include mixin.forAllThemeTypes($section) using ($theme,$type){
        [colorMode="text"][color=#{$type}],[color=#{$type}]{
            @include mixin.text($type,$section,$theme);        
        }

        [colorMode="filled"][color=#{$type}]{
            @include mixin.fill($type,$section,$theme);        
        }
    
        [colorMode="filled-soft"][color=#{$type}]{
            @include mixin.fill-soft($type,$section,$theme);        
        }
        
        [colorMode="outline"][color=#{$type}]{
            @include mixin.outline($type,$section,$theme);        
        }
    }
};

@include mixin.positionClasses() using ($pos, $mod){
    .position-#{$pos}-#{$mod}{
       @include mixin.position($pos,$mod)
    }
}

$radiusSizes:"sm" "md" "lg";
@each $size in $radiusSizes {
    .border-radius-#{size}{
        @include mixin.borderRadius($size);
    }
}

