@use "../core";
@use "../mixin";

.btn{

    display: inline-block;
    padding: 0.5rem 1rem;
    margin:1rem;
    transition: all 50ms;
    outline: none;
    cursor: pointer;
    
    &,&:active,&:focus{
        outline: none;
    }

    &:disabled{
        cursor: default;
        opacity: 0.3;
    }

   

    @include mixin.borderRadius("sm");

    // reglas para botones tematicos
    $colorGroup:"themeColor" "stateColor";
    @each $section in $colorGroup {
        @include mixin.forAllThemeTypes($section) using ($theme,$type){
            &-pushable{
                transition: all 0.05s;
                @include mixin.prefix("transform","scale(1)");
                &:not(:disabled):hover{
                    @include mixin.elevation(2,core.get($theme,"otherColor","shadow"));
                    @include mixin.prefix("transform","scale(1.05)");
                }
                
                &:not(:disabled):active{
                    @include mixin.elevation(1,core.get($theme,"otherColor","shadow"));
                    @include mixin.prefix("transform","scale(0.99)");
                }
            }
        
            &[colorMode="filled"][color=#{$type}]{
                border:none;
                &:active:not(:disabled){
                    @include mixin.fill($type,$section+"Dark",$theme);        
                }
            }
        
            &[colorMode="filled-soft"][color=#{$type}]{
                border:none;
                &:active:not(:disabled){
                    @include mixin.fill($type,$section,$theme);        
                }
            }
            
            &[colorMode="outline"][color=#{$type}]{
                &:active:not(:disabled){
                    @include mixin.fill($type,$section,$theme);        
                }
            }
        }
    };



}