@use "../core";
@use "../mixin";
$default-color:rgb(214, 214, 214);

.tooltip{

    display: none;
    padding: 0.4rem 0.8rem;
    background: $default-color;
    border-color: $default-color;
    @include mixin.borderRadius('sm');
    font-size: 0.8rem;

    &-container{
        position: relative;
    }
    &-container:hover &{
        display: inline-block;
        animation-name: fade;
        animation-duration: 0.1s;
        animation-fill-mode: both;
        animation-delay: 2s;

    }

    &-sm{
        font-size: 0.5rem;
        letter-spacing:2px;
    }
    &-md{
        font-size: 0.8rem;
    }
    &-lg{
        font-size: 1rem;
    }

    &-top-left{
        margin-right: -50vw;
        max-width: 50vw;
        @include mixin.position("top","left");
        &:after{
            content: "";
            @include mixin.triangle("down");
            @include mixin.position("bottom","left","translateY(-10%)")
        }
    }
    &-top-center{
        max-width: 100vw;
        @include mixin.position("top","center");
        &:after{
            content: "";
            @include mixin.triangle("down");
            @include mixin.position("bottom","center","translateY(-10%)")
        }
    }

    &-top-right{
        margin-left: -50vw;
        max-width: 50vw;
        @include mixin.position("top","right");
        &:after{
            content: "";
            @include mixin.triangle("down");
            @include mixin.position("bottom","right","translateY(-10%)")
        }
    }


    &-bottom-left{
        margin-right: -50vw;
        max-width: 50vw;
        @include mixin.position("bottom","left");
        &:after{
            content: "";
            @include mixin.triangle("up");
            @include mixin.position("top","left","translateY(10%)")
        }
    }
    &-bottom-center{
        max-width: 100vw;
        @include mixin.position("bottom","center");
        &:after{
            content: "";
            @include mixin.triangle("up");
            @include mixin.position("top","center","translateY(10%)")
        }
    }

    &-bottom-right{
        margin-left: -50vw;
        max-width: 50vw;
        @include mixin.position("bottom","right");
        &:after{
            content: "";
            @include mixin.triangle("up");
            @include mixin.position("top","right","translateY(10%)")
        }
    }

    &-left{
        max-width: 50vw;
        @include mixin.position("left","center","translateX(-101%)");
        &:after{
            content: "";
            @include mixin.triangle("right");
            @include mixin.position("right","center","translateX(-10%)")
        }
    }

    &-right{
        margin-left: -50vw;
        max-width: 50vw;
        @include mixin.position("right","center","translateX(50vw)");
        &:after{
            content: "";
            @include mixin.triangle("left");
            @include mixin.position("left","center","translateX(-90%)")
        }
    }


}