@use "../core";
@use "../mixin";
$default-color:rgb(214, 214, 214);

.tooltip{

    display: none;
    // opacity: 0;
    position: absolute;
    padding: 0.4rem 0.8rem;
    background: $default-color;
    border-color: $default-color;
    // @include mixin.round-small;
    font-size: 0.8rem;
    
    &:after{
        content: "";
        position: absolute; 
        display: inline-block;
        width: 0px;
        height: 0px;
        z-index: -1;
        @include mixin.triangle("down");
        @include mixin.position("top","left", "translate(100%,140%)")    
    }

    @include mixin.positionClasses() using ($pos,$mod){
        &-#{$pos}-#{$mod}{
            @include mixin.position($pos,$mod);
            @if $mod == "top"{
                
            }@else if $mod == "bottom"{
                
            }@else if $mod == "left"{
                
                @include mixin.position($pos,$mod,"translateX(100%)");    
            }@else if $mod == "right"{
                
                @include mixin.position($pos,$mod,"translateX(-100%)");    
            }

            @if $pos== "left"{
                @include mixin.position($pos,$mod,"translatey(-100%)");    
            }
            &:after{
                $transX:"0";
                $transY:"0";
                $direction:"";
                $targetPos:"";
                @if $pos == "top"{
                    $targetPos:"bottom";
                    $direction:"down";
                    $transY:"-40%";
                }@else if $pos == "bottom"{
                    $targetPos:"top";
                    $direction:"up";
                    $transY:"10%";
                }@else if $pos == "left"{
                    $targetPos:"right";
                    $direction:"right";
                    $transY:"-40%";

                }@else if $pos == "right"{
                    $targetPos:"left";
                    $direction:"left";
                    $transY:"-40%";
                }
                
                @if($mod == "left"){
                    $transX:"100%";
                }@else if($mod == "right"){
                    $transX:"-100%";
                }@else if($mod == "center"){
                    $transX:"0%";
                }
                @include mixin.position($targetPos,$mod,"translate("+#{$transX}+","#{$transY}+")");    
                @include mixin.triangle($direction);
                
            }
        }

    };

    &-container{
        position: relative;
    }
    &-container:hover &{
        display: block;
        animation-name: fade;
        animation-duration: 0.1s;
        animation-fill-mode: both;
        animation-delay: 2s;

    }

    &-sm{
        font-size: 0.5rem;
        letter-spacing:2px;
    }
    &-md{
        font-size: 0.8rem;
    }
    &-lg{
        font-size: 1rem;
    }
}